/**
 * cook-night theme for `prism.js`
 * @author Hubert Ronald
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #cccccc;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	/*font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;*/
	font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.375;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #333333;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #efefef;
}

.token.punctuation {
	color: #cccccc;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.keyword,
.token.tag {
    color: #55b4d4;
}

.token.class-name {
	color: #f7ed4a;
	/* text-decoration: underline; */
}

.token.boolean,
.token.constant {
    color: #99CC99;
}

.token.symbol,
.token.deleted {
	color: #ff7f9f;
}

.token.number {
	color: #ff7f9f;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #7fff8c;
}

.token.variable {
	color: #C6C5FE;
}

.token.operator {
    color: #EDEDED;
}

.token.entity {
    color: #FFFFB6;
    /* text-decoration: underline; */
}

.token.url {
    color: #55b4d4
}

.language-css .token.string,
.style .token.string {
	color: #7fff8c;
}

.token.atrule,
.token.attr-value {
    color: #c4bc3b;
}

.token.function {
	color: #f7ed4a;
}

.token.regex {
    color: #E9C062;
}

.token.important {
	color: #ffb533;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
